In [12]:
%load_ext autoreload
%autoreload 2

# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
import plotly_express as px


# Para el modelado de los datos
# -----------------------------------------------------------------------
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
from sklearn.metrics import silhouette_score, davies_bouldin_score
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN
from sklearn.cluster import SpectralClustering

# Importar nuestro archivo de soporte
# -----------------------------------------------------------------------
import sys
sys.path.append('..') #pongo los 2 puntos para que salga de la carpeta
from src import soporte_clustering as sc
from src import funciones as f
from src import soporte_prep as spp
from src import soporte_encoding as se
# Para visualizar los dendrogramas
# -----------------------------------------------------------------------
import scipy.cluster.hierarchy as sch
# Configuraci√≥n warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')
import math

pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
df = pd.read_csv('../Datos/Global_Superstore.csv', encoding='latin')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,10024.0,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,NaN,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,NaN,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,NaN,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,NaN,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [14]:
preprocesar = sc.Exploracion(df)
preprocesar.explorar_datos()

5 registros aleatorios:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
40514,37441,CA-2014-151190,28-06-2014,02-07-2014,Standard Class,GT-14710,Greg Tran,Consumer,Omaha,Nebraska,United States,68104.0,US,Central,OFF-PA-10000575,Office Supplies,Paper,"Wirebound Message Books, Four 2 3/4 x 5 White ...",20.0700,3,0.00,9.2322,2.13,High
38032,50379,IR-2014-6100,11-06-2014,16-06-2014,Second Class,SF-10965,Sylvia Foulston,Corporate,Kermanshah,Kermanshah,Iran,NaN,EMEA,EMEA,OFF-ROG-10001818,Office Supplies,Storage,"Rogers Folders, Single Width",30.7200,1,0.00,2.4300,2.73,Medium
18199,17383,IT-2014-5637241,24-11-2014,29-11-2014,Standard Class,TT-21220,Thomas Thornton,Consumer,Vigo,Galicia,Spain,NaN,EU,South,OFF-ST-10001974,Office Supplies,Storage,"Rogers File Cart, Industrial",1401.8400,11,0.10,108.9000,14.67,Medium
7104,26937,IN-2013-45377,02-01-2013,06-01-2013,Standard Class,HD-14785,Harold Dahlen,Home Office,Jakarta,Jakarta,Indonesia,NaN,APAC,Southeast Asia,TEC-PH-10000720,Technology,Phones,"Samsung Audio Dock, Full Size",976.7772,7,0.17,247.0272,48.07,Medium
47899,48903,NI-2012-3320,19-06-2012,23-06-2012,Standard Class,CC-2220,Chris Cortes,Consumer,Ibadan,Oyo,Nigeria,NaN,Africa,Africa,OFF-WIL-10000604,Office Supplies,Binders,"Wilson Jones Binder, Clear",7.4880,2,0.70,-15.4920,0.75,Medium

Informaci√≥n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB
None


Duplicados en el DataFrame:
0


Estad√≠sticas descriptivas de las columnas num√©ricas:

,count,mean,std,min,25%,50%,75%,max
Row ID,51290.0,25645.500000,14806.291990,1.000,12823.250000,25645.500,38467.7500,51290.000
Postal Code,9994.0,55190.379428,32063.693350,1040.000,23223.000000,56430.500,90008.0000,99301.000
Sales,51290.0,246.490581,487.565361,0.444,30.758625,85.053,251.0532,22638.480
Quantity,51290.0,3.476545,2.278766,1.000,2.000000,3.000,5.0000,14.000
Discount,51290.0,0.142908,0.212280,0.000,0.000000,0.000,0.2000,0.850
Profit,51290.0,28.610982,174.340972,-6599.978,0.000000,9.240,36.8100,8399.976
Shipping Cost,51290.0,26.375915,57.296804,0.000,2.610000,7.790,24.4500,933.570

Estad√≠sticas descriptivas de las columnas categ√≥ricas:

                count unique              top   freq
Order ID        51290  25035   CA-2014-100111     14
Order Date      51290   1430       18-06-2014    135
Ship Date       51290   1464       22-11-2014    130
Ship Mode       51290      4   Standard Class  30775
Customer ID     51290   1590         PO-18850     97
Customer Name   51290    795  Muhammed Yedwab    108
Segment         51290      3         Consumer  26518
City            51290   3636    New York City    915
State           51290   1094       California   2001
Country         51290    147    United States   9994
Market          51290      7             APAC  11002
Region          51290     13          Central  11117
Product ID      51290  10292  OFF-AR-10003651     35
Category        51290      3  Office Supplies  31273
Sub-Category    51290     17          Binders   6152
Product Name    51290   3788          Staples    227
Order Priority  51290      4           Medium  29433

N√∫mero de valores nulos por columna:
Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64


Distribuci√≥n de valores categ√≥ricos:

Columna: Order ID
Order ID
CA-2014-100111    14
NI-2014-8880      13
TO-2014-9950      13
IN-2012-41261     13
IN-2013-42311     13
                  ..
ID-2014-68085      1
ID-2012-85221      1
CA-2012-119697     1
CA-2011-151967     1
MX-2012-134460     1
Name: count, Length: 25035, dtype: int64

Columna: Order Date
Order Date
18-06-2014    135
18-11-2014    127
03-09-2014    126
20-11-2014    118
29-12-2014    116
             ...
07-10-2012      1
16-01-2011      1
27-02-2011      1
21-10-2012      1
06-02-2011      1
Name: count, Length: 1430, dtype: int64

Columna: Ship Date
Ship Date
22-11-2014    130
07-09-2014    115
07-12-2014    101
17-11-2014    101
29-11-2014    100
             ...
25-01-2011      3
07-01-2015      3
03-01-2011      2
06-01-2011      2
05-01-2011      2
Name: count, Length: 1464, dtype: int64

Columna: Ship Mode
Ship Mode
Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: count, dtype: int64

Columna: Customer ID
Customer ID
PO-18850    97
BE-11335    94
JG-15805    90
SW-20755    89
EM-13960    85
            ..
MG-7650      1
ME-8010      1
RC-9825      1
MG-7890      1
ZC-11910     1
Name: count, Length: 1590, dtype: int64

Columna: Customer Name
Customer Name
Muhammed Yedwab    108
Steven Ward        106
Gary Hwang         102
Patrick O'Brill    102
Bill Eplett        102
                  ...
Emily Burns         35
David Bremer        34
Darren Budd         31
Nicole Brennan      31
Michael Oakman      29
Name: count, Length: 795, dtype: int64

Columna: Segment
Segment
Consumer       26518
Corporate      15429
Home Office     9343
Name: count, dtype: int64

Columna: City
City
New York City     915
Los Angeles       747
Philadelphia      537
San Francisco     510
Santo Domingo     443
                 ...
Vesoul              1
V√°rzea Grande       1
Luanshya            1
Kissimmee           1
Victoria Falls      1
Name: count, Length: 3636, dtype: int64

Columna: State
State
California            2001
England               1499
New York              1128
Texas                  985
Ile-de-France          981
                      ...
Lambayeque               1
Aveiro                   1
Lima                     1
Medea                    1
Matabeleland North       1
Name: count, Length: 1094, dtype: int64

Columna: Country
Country
United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
                 ...
Bahrain             2
South Sudan         2
Chad                2
Burundi             2
Eritrea             2
Name: count, Length: 147, dtype: int64

Columna: Market
Market
APAC      11002
LATAM     10294
EU        10000
US         9994
EMEA       5029
Africa     4587
Canada      384
Name: count, dtype: int64

Columna: Region
Region
Central           11117
South              6645
EMEA               5029
North              4785
Africa             4587
Oceania            3487
West               3203
Southeast Asia     3129
East               2848
North Asia         2338
Central Asia       2048
Caribbean          1690
Canada              384
Name: count, dtype: int64

Columna: Product ID
Product ID
OFF-AR-10003651    35
OFF-AR-10003829    31
OFF-BI-10003708    30
OFF-BI-10002799    30
FUR-CH-10003354    28
                   ..
FUR-FU-10002185     1
OFF-AP-10004711     1
FUR-CH-10000182     1
OFF-LA-10003297     1
OFF-AP-10002203     1
Name: count, Length: 10292, dtype: int64

Columna: Category
Category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64

Columna: Sub-Category
Sub-Category
Binders        6152
Storage        5059
Art            4883
Paper          3538
Chairs         3434
Phones         3357
Furnishings    3170
Accessories    3075
Labels         2606
Envelopes      2435
Supplies       2425
Fasteners      2420
Bookcases      2411
Copiers        2223
Appliances     1755
Machines       1486
Tables          861
Name: count, dtype: int64

Columna: Product Name
Product Name
Staples                                                             227
Cardinal Index Tab, Clear                                            92
Eldon File Cart, Single Width                                        90
Rogers File Cart, Single Width                                       84
Ibico Index Tab, Clear                                               83
                                                                   ...
Penpower WorldCard Pro Card Scanner                                   1
Cisco SPA525G2 5-Line IP Phone                                        1
Park Ridge Embossed Executive Business Envelopes                      1
Rediform S.O.S. Phone Message Books                                   1
Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac      1
Name: count, Length: 3788, dtype: int64

Columna: Order Priority
Order Priority
Medium      29433
High        15501
Critical     3932
Low          2424
Name: count, dtype: int64
Matriz de correlaci√≥n entre variables num√©ricas:

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
Row ID,1.000000,0.009671,-0.043889,-0.173483,0.087594,-0.019037,-0.039078
Postal Code,0.009671,1.000000,-0.023854,0.012761,0.058443,-0.029961,-0.025449
Sales,-0.043889,-0.023854,1.000000,0.313577,-0.086722,0.484918,0.768073
Quantity,-0.173483,0.012761,0.313577,1.000000,-0.019875,0.104365,0.272649
Discount,0.087594,0.058443,-0.086722,-0.019875,1.000000,-0.316490,-0.079056
Profit,-0.019037,-0.029961,0.484918,0.104365,-0.316490,1.000000,0.354441
Shipping Cost,-0.039078,-0.025449,0.768073,0.272649,-0.079056,0.354441,1.000000