In [11]:
%load_ext autoreload
%autoreload 2

# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
import plotly_express as px

# Importar nuestro archivo de soporte
# -----------------------------------------------------------------------
import sys
sys.path.append('..') #pongo los 2 puntos para que salga de la carpeta
from src import soporte_clustering as sc
from src import funciones as f
from src import soporte_prep as spp
from src import soporte_encoding as se

import warnings
warnings.filterwarnings('ignore')
import math

pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
df = pd.read_csv('../Datos/df_predecir_1.csv', index_col=0)

In [13]:
df.drop(columns=['State', 'Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Customer ID', 'City', 'Country', 'Postal Code', 'Region', 'Product ID', 'Product Name', 'Profit', 'cluster'], inplace=True)

In [14]:
df.head()

,Ship Mode,Customer Name,Segment,Market,Category,Sub-Category,Sales,Quantity,Discount,Shipping Cost,Order Priority
0,Same Day,Rick Hansen,Consumer,US,Technology,Accessories,2309.650,7,0.0,933.57,Critical
1,Second Class,Justin Ritter,Corporate,APAC,Furniture,Chairs,3709.395,9,0.1,923.63,Critical
2,Same Day,Rick Hansen,Consumer,Africa,Technology,Copiers,2832.960,8,0.0,903.04,Critical
3,Standard Class,Mick Brown,Consumer,APAC,Furniture,Tables,5244.840,6,0.0,878.38,High
4,Second Class,Greg Maxwell,Corporate,US,Office Supplies,Supplies,4164.050,5,0.0,846.54,High